.dashboard_top {
    display: flex;  /* Use flexbox to align items in a row */
    flex-direction: row   ;
    justify-content: space-between; /* Space between the elements */
    align-items: center; /* Vertically align the elements */
  }
  
  .page_name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .name_span {
    display: flex;
    font-size: 18px;
    align-items: center;
  }
  #profile_name{
    margin:8px
  }
  .dashboard_down {
    flex:auto; /* larger width */  
     
  }
  .profile_pic{
    height:48px;
     border-radius: 48px;
     width:48px;
     object-fit: cover;
      overflow: hidden;
  }
  
  .charts_items{
    height:300px;
    width:300px;
    background-color: red;
    margin:20px;
    margin-left:20px;
    margin-right:20px;
    border-radius:10px;
    box-shadow: 5px 10px #888888;;
  }
  .charts{
    display: flex;
    flex:1;
    flex-direction: row;
    margin:20px;
  
  }
  
  .tool-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin:8px;
     
  }
  
  .logo {
    width: 60px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  h2 span {
    color: #ffd700; /* Gold color for styling */
  }
  
  .scan-btn {
    background-color: #ffd700;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .scan-btn:hover {
    background-color: #e0b800;
  }
  
  input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  .desc_connectors{
    flex-direction: column;
    margin-left:20px;
  }